{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-sm border-0">
        <div class="card-header bg-dark text-white">
            <h4 class="mb-0">Create Sale Order</h4>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="row">

                    <div class="col-md-6 mb-3">
                        <label for="id_product" class="form-label">Product</label>
                        {{ form.product }}
                        {% if form.product.errors %}
                            <div class="text-danger">
                                {{ form.product.errors.as_text }}
                            </div>
                        {% endif %}
                    </div>


                    <div class="col-md-6 mb-3">
                        <label for="id_quantity" class="form-label">Quantity</label>
                        {{ form.quantity }}
                        {% if form.quantity.errors %}
                            <div class="text-danger">
                                {{ form.quantity.errors.as_text }}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <button type="submit" class="btn btn-primary w-20">Create Sale Order</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}